
/* Specific icons and colors per category ID */
#\:1>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'input'; color: #00979C; }
#\:2>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'code'; color: #995ba5; }
#\:3>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'loop'; color: #5ba55b; }
#\:4>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'psychology_alt'; color: #5b80a5; }
#\:5>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'calculate'; color: #5b67a5; }
#\:6>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'text_fields'; color: #5ba58c; }
#\:7>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'database'; color: #a55b80; }
#\:8>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'schedule'; color: #fab415; }
#\:a>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'extension'; color: #E47128; }
#\:b>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'music_note'; color: #d32f2f; }
#\:c>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'rocket_launch'; color: #174d17; }
#\:d>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'router'; color: #00979C; }
#\:e>div>span.blocklyTreeIcon.blocklyTreeIconNone::before { content: 'monitor'; color: #5b67a5; }
